# Local-only files (not uploaded to GitHub)
REPLACE-GUIDE.local.md

# OS noise
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE
.idea/
.vscode/
*.swp

# Temp & logs
*.log
tmp/
